language: python
python:
  - "3.5"
  - "2.7"
dist: trusty
sudo: required
addons:
  apt:
    packages:
    - build-essential
    - automake
    - pkg-config
    - libtool
    - libffi-dev
    - libgmp-dev
env:
  matrix:
    - TOX_ENV=py27
    - TOX_ENV=py34
    - TOX_ENV=py35
    - TOX_ENV=flake8
matrix:
  exclude:
  - python: "2.7"
    env: TOX_ENV=py34
  - python: "2.7"
    env: TOX_ENV=py35
  - python: "3.5"
    env: TOX_ENV=py27
cache:
  pip: true
install:
  - "travis_retry pip install pip setuptools --upgrade"
  - "travis_retry pip install tox"
script:
  - tox -e $TOX_ENV
after_script:
  - cat .tox/$TOX_ENV/log/*.log
